:root {
    --size: 3.5rem;
    --diamond-size: 3.5rem;
}
.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.bottom__top__button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom__top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bottom__top__button {
    position: relative;
}

.button__outerrect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20rem;
    height: 5rem;
    background: red;
    outline: 1px solid blue;
    /* rotate: 90deg; */
}
.button__left {
    position: absolute;
    left: -1.8rem;
    width: var(--size);
    height: var(--size);
    margin-right: 1rem;
    background: red;
    background: red;
    rotate: 45deg;
}

.button__right {
    position: absolute;
    right: -2.8rem;
    width: var(--size);
    height: var(--size);
    margin-right: 1rem;
    background: red;
    rotate: 45deg;
}


.bottom__footer {
    position: relative;
    width: 100%;
    height: 30vh;
    /* background-color: aqua; */
}

.bottom__top__message__wrapper {
    width: 60%;
}

.bottom__top__message {
    font-size: 1rem;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    color: var(--theme-bright-color);
    opacity: .35;
}

.footer__rect__left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 34%, 100% 100%, 0% 100%);
    background-color: var(--theme-bright-color);
    opacity: .5;
    z-index: 1;
}


.footer__rect__right {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);
    background-color: var(--theme-bright-color);
    opacity: 1;
    z-index: 99;
}

.footer__rect__right::before {
    content: "";
    position: absolute;
    top: .1rem;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
    background-color: var(--dark-bg-color);
    opacity: 1;
    z-index: 2;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.diamond {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--diamond-size);
    height: var(--diamond-size);
    margin: 0 2rem;
    background-color: #3B141B;
    border: 5px solid var(--dark-bg-color);
    outline: 1px solid var(--theme-bright-color);
    transition: .4s cubic-bezier(0.19, 1, 0.22, 1);
    transform: rotateZ(45deg);
    cursor: pointer;
    z-index: 100;
}

.diamond:hover {
    background-color: #641826;
}

.diamond__social__icon {
    width: 50%;
    transform: rotateZ(-45deg);
}