.testimonials{
    position: relative;
}

.backtext__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.backtext {
    font-size: 38rem;
    font-weight: 600;
    font-style: italic;
    font-stretch: extra-condensed;
    font-kerning: none;
    user-select: none;
    color: var(--alternative-text-color);
    opacity: .05;
    white-space: nowrap;
    margin-bottom: 4rem;
    animation-timing-function: linear !important;
    animation: 44s linear infinite scrollText;
    transform: scale(.2, 1.4);
}


.testimonials__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
}

.testimonials__title {
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    font-stretch: extra-condensed;
    font-kerning: none;
    user-select: none;
    color: var(--alternative-text-color);
    transform: scaleY(1.2);
}

.testimonails__footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.testimonials__footer__text {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    font-stretch: extra-condensed;
    font-kerning: none;
    user-select: none;
    margin: 0 2rem;
    opacity: .5;
}

.testimonials__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
/* temporary */
.testimonials__card__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* background-color: #143801; */
    width: 22.5%;
    margin: 0 1rem;
    z-index: 99;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: .8;
}
.testimonials__card__wrapper:hover {
    transform: translateY(-5%);
    opacity: 1;
}

.testimonials__card__bg {
    width: 100%;
}

.testimonials__card__content {
    position: absolute;
    top:25%;
    width: 70%;
    /* background-color: aquamarine; */
}

.card__quotation {
    margin: 2rem 0;
    font: 1rem;
    font-family: var(--font-general);
    font-style: oblique;
    font-weight: 300;
    text-align: center;
}

.card__author {
    margin: .6rem 0;
    font-size: 1.2rem;
    font-family: var(--font-general);
    font-weight: 600;
    color: #38010D;
    text-align: center;
    align-self: flex-end;
}

.card__quote__mark {
    width: 1.5rem;
}


/*  */


.testimonials__card__author {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--theme-bright-color);
    background-color: #38010D;
    transform: rotateZ(45deg);
    overflow: hidden;
}


.card__author__image {
    width: 300%;
    transform: rotateZ(-45deg);
}




@keyframes scrollText {
    0%   { transform: translateX(-2%); }
    100% { transform: translateX(-202%); }
  }