* {
    box-sizing: border-box;
    font-size: 1em;
}
body {
    max-width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--dark-bg-color);
}

.app {
    height: 100%;
}

.app__header {
    width: 100%;
}

.header__announcement__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1.5rem;
    background-color: var(--dark-bg-color);
    color: var(--contrast-text-color);
}

.header__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/background_index.png);
    background-size: cover;
    opacity: .45;
    z-index: -1;
}
.header__menu__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.menu__access__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    border: 3px solid var(--dimmed-bright-color);
    cursor: pointer;
}

.menu__logo__wrapper {
    /* temporary fix */
    margin-left: -4rem;
}
.access__button__inside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - .5rem);
    height: calc(100% - .5rem);
    border: 3px solid var(--dimmed-bright-color);
    background-color: var(--dark-btn-color);
    color: var(--theme-bright-color);
}
.access__button__text {
    user-select: none;
}
.logo__title, .bag__text {
    color: var(--theme-bright-color);
}
.bag__text__number {
    color: var(--notification-color);
}

/* FOOTER */

.app__footer {
    background-color: aqua;
}