/* UwU */

* {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #111111;
}

.login__wrapper {

    width: 20vw;
    height: 85vh;
    border: 1px dashed #00FF23;
}